# Telegram
BOT_TOKEN=
ADMIN_IDS=7443146366,8524573838,5856916684
NEWS_CHANNEL=@worldwarrr74

# Database
# On Railway, mount a Volume at /app/data.
DB_PATH=/app/data/warbot.db

# Payments
TELEGRAM_PROVIDER_TOKEN=
TELEGRAM_CURRENCY=IRR
PAYMENT_CARD_NUMBER=
PAYMENT_CARD_HOLDER=
